node_modules
.next
.turbo
dist
build
.DS_Store
.env*
*.log
coverage
out

# local tooling
.vercel
.vscode/
.idea/

# build artifacts (ts)
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

